[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=daydream_client
X-Python-2-Compatible=false
Name=Daydream Client
Comment=Plugin that Connects Krita to the Daydream API.
